[submodule "gtp5g"]
	path = gtp5g
	url = https://github.com/free5gc/gtp5g
[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://github.com/ottoblep/openairinterface5g
	branch = develop