; ==============================================================================
; This is a minimal configuration for a PTPv2 client over ethernet with ptpd
; ==============================================================================

; interface has to be specified
ptpengine:interface=eno1

; PTP domain
ptpengine:domain=0

; available presets are slaveonly, masteronly and masterslave (IEEE 1588)
ptpengine:preset=slaveonly

; multicast for both sync and delay requests - use hybrid for unicast delay
; requests

ptpengine:ip_mode=multicast

; status file providing an overview of ptpd's operation and statistics
global:log_status=y

; required if ip_mode is set to hybrid
;ptpengine:log_delayreq_interval=0

; uncomment this to log a timing log
;global:statistics_file=multinet:ptpd2.stats

; always keep a new line at the end
